<div class="container">
    <div class="row">
        <div class="col-xs-12" style="background: #5887A1; height: 15%;">
            
        </div>
        <div class="col-xs-12" style="background: #F3F3F3">
            <img src="http://www.panacredit.com.pa/images/logo-footer-nuevo.png" style="width:10%;align-self: center;">
            <h1 style="text-align: center;"><strong>¡Bienvenido a CEMBI Venezuela!</strong></h1>
            <p style="text-align: center;">
                Ahora que se ha registrado en nuestra plataforma, podrá disfrutar de nuestros servicios.
                <br>Saludos,
                <br> Panacredit.
            </p>
        </div>
    </div>
</div>