{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<h1 id="titulo-login" class="text-center" style="padding-top: 10%;"><strong>¡Gracias por registrarse!</strong></h1>
			<h3 id="titulo-login" class="text-center"><strong>En unos momentos recibirá un correo de CEMBI Venezuela.</strong></h3>
			<h5 id="titulo-login" class="text-center"><strong>Ingrese aquí para comenzar a utilizar nuestros servicios.</strong></h5>
		</div>
		<div class="col-xs-3 col-xs-push-5">
			<button class="btn"><a href="{% url 'login' %}">Empezar</a></button>
		</div>
	</div>
{% endblock content %}