{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block title %}Registro{% endblock title %}
{% block extracss %}
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">
	<style type="text/css">
		.content{
			background-color: #FFFFFF !important;
		}
		.form-wizard-count{
			border-color: #ED673B !important;
			color: #ED673B !important;
		}
	</style>
{% endblock extracss %}


{% block content %}
<!-- Page container -->
	<div class="page-container">
		<!-- Page content -->
		<div class="page-content">
			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Content area -->
				<div class="content">
		            <!-- Wizard with validation -->
		            <div class="panel panel-white">
						<div class="panel-heading">
							<h6 class="panel-title">¡Registra tus datos!</h6>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="reload"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>
						<div class="hidden">
                            {% bootstrap_form_errors form %}
                        </div>
	                	<form class="form-validation" action="{% url 'signup' %}" method="post">
                        {% csrf_token %}
							<fieldset class="step" id="validation-step1">
								<h6 class="form-wizard-title text-semibold">
									<span class="form-wizard-count">1</span>
									Datos personales
									<small class="display-block"></small>
								</h6>

								<div class="row">
									<div class="col-md-6">
										{% bootstrap_field form.first_name required="true" %}
									</div>

									<div class="col-md-6">
										{% bootstrap_field form.last_name required="true" %}
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										{% bootstrap_field form.fecha_nacimiento required="true" %}
									</div>

									<div class="col-md-6">
										{% bootstrap_field form.identificador required="true" %}
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										{% bootstrap_field form.ingreso required="true" %}
									</div>

									<div class="col-md-6">
										{% bootstrap_field form.email required="true" %}
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										{% bootstrap_field form.telefono required="true" %}
									</div>

									<div class="col-md-6">
									</div>
								</div>
								<div class="form-wizard-actions">
								<button class="btn btn-default" id="validation-back" type="reset">Back</button>
								<button class="btn btn-info" id="validation-next">Next</button>
							</div>
							</fieldset>

							<fieldset class="step" id="validation-step2">
								<h6 class="form-wizard-title text-semibold">
									<span class="form-wizard-count">2</span>
									Datos laborales
									<small class="display-block"></small>
								</h6>

								<div class="row">
									<div class="col-md-6">
										{% bootstrap_field form.lugar_trabajo required="true" %}
									</div>

									<div class="col-md-6">
										{% bootstrap_field form.ocupacion required="true" %}
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										{% bootstrap_field form.direccion required="true" %}
									</div>

									<div class="col-md-6">
										{% bootstrap_field form.cargo required="true" %}
									</div>
								</div>

								<div class="row">
									<div class="col-md-6">
										{% bootstrap_field form.salario required="true" %}
									</div>

									<div class="col-md-6">
										{% bootstrap_field form.fecha_ingreso required="true" %}
									</div>
								</div>
								<div class="form-wizard-actions">
								<button class="btn btn-default" id="validation-back" type="reset">Back</button>
								<button class="btn btn-info to-step-3" id="validation-next">Next</button>
							</div>
							</fieldset>

							<fieldset class="step" id="validation-step3">
								<h6 class="form-wizard-title text-semibold">
									<span class="form-wizard-count">3</span>
									Autorización de consulta de crédito
									<small class="display-block"></small>
								</h6>

								<div class="row">
									<div class="col-md-12">
										<p>
											Por este medio, Yo, <span id="nombre"></span> <span id="apellido"></span> con número de identidad personal <span id="identificador"></span>, autorizo expresamente a CEMBI Venezuela para que, de conformidad con lo expresado en el artículo 24 y demás disposiciones aplicables de la Ley 24 de 22 de mayo de 2002, actualizada mediante Ley 14 de 18 de mayo de 2006, consulte, suministre o intercambie cualesquiera datos sobre mi historial de crédito y relaciones con mis acreedores, a cualesquiera agencias de información de datos, bancos o agentes económicos de la localidad o del exterior.
										</p>
										<input type="checkbox" id="autorizacion" name="autorizacion" value="si"> Acepto<br>
										<input type=hidden name=monto value={{request.GET.monto}}>
										<input type=hidden name=dias value={{request.GET.dias}}>
										<br>
										<p><h4 style="text-decoration: underline;">Cree su cuenta: </h4></p>
										{% bootstrap_field form.password required="true" %}
										{% bootstrap_field form.password2 required="true" %}

									</div>

									
								</div>
								<div class="form-wizard-actions">
								<button class="btn btn-default" id="validation-back" type="reset">Back</button>
								<button class="btn btn-info" id="fin" type="submit" disabled>Finalizar</button>
							</div>
							</fieldset>

							
						</form>
		            </div>
		            <!-- /wizard with validation -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

{% endblock content %}

{% block custom_script %}
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery_ui/core.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/wizards/form_wizard/form.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/wizards/form_wizard/form_wizard.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/jasny_bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/notifications/sweet_alert.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/wizard_form.js' %}"></script>

	<script type="text/javascript">
	$('.content').mouseover(function(){
		if($('#autorizacion').prop('checked') === true){
           $('#fin').prop('disabled',false);
        }else{
             $('#fin').prop('disabled',true);
        }
	});
	$('#autorizacion').change(function(){
		if($(this).prop('checked') === true){
           $('#fin').prop('disabled',false);
        }else{
             $('#fin').prop('disabled',true);
        }
	});
	$('.to-step-3').on('click',function(){
		$('#autorizacion').prop('checked',false);
		$('#nombre').html($('#id_first_name').val());
		$('#apellido').html($('#id_last_name').val());
		$('#identificador').html($('#id_identificador').val());
	});
</script>

{% endblock custom_script %}