<div class="container">
    <div class="row">
        <div class="col-xs-12" style="background: #82C539; height: 15%;">
            
        </div>
        <div class="col-xs-12" style="background: #F3F3F3">
            <img src="http://afiapp.com/img/logo-default.png" style="width:10%;align-self: center;">
            <h1 style="text-align: center;"><strong>¡Bienvenido a AfiApp!</strong></h1>
            <p style="text-align: center;">
                Ahora que se ha registrado en nuestra plataforma, podrá disfrutar de nuestros beneficios.
                <br>Saludos,
                <br> Afi.
            </p>
        </div>
    </div>
</div>