{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
{% block extracss %}

<style type="text/css">
    #titulo-login {
        font-family: Arial;
        font-size: 29px;
        color: #53585a;
    }
    @media only screen and (max-width: 435px) {
        #titulo-login {
            font-family: Arial;
            font-size: 15px;
            color: #B5B6B8;
        }
    }
    #link-acerta {
        color: #abbdd1;
    }
    input:focus {
        border-color: #abbdd1 !important;
        color: #abbdd1 !important;
    }
    input:focus::-webkit-input-placeholder {
        color: #abbdd1 !important;
    }
    input:focus::-moz-placeholder {
        color: #abbdd1 !important;
    }
    input:focus:-moz-placeholder {
        color: #abbdd1 !important;
    }
    input:focus:-ms-input-placeholder {
        color: #abbdd1 !important;
    }
    .login-box-body {
        margin-left: 20%;
        margin-right: 20%
    }
    .calculate {
        color: #FFFFFF;
        background-color: #727270;
        text-align: center;
    }
    .calculate {
      transition: all 0.8s ease;
    }
    .calculate:hover {
      background: #abbdd1;
      color: #FFFFFF;
    }
    .first {
        padding-top: 10%;
    }
    @media only screen and (max-width: 435px) {
        .first {
          padding-top: 20%;
        }
    }
    .recuadro{
        text-decoration: none;
    }
    .recuadro a, .recuadro a:hover{
        color: #FFFFFF;    
        font-weight: bold;    
    }
    .ingresar{
        background-color: #009943;
        float: right;
        width: 165px;
        height: 40px;
    }
    .registrar{
        background-color: #a1d65b;
        float: left;
        width: 165px;
        height: 40px;
    }
    html{
        background: #FFFFFF url({% static 'img/fondo-afiapp-2.jpg' %}) no-repeat fixed center;
    }
</style>

{% endblock extracss %}


{% block content %}
<div class="row">
    <div class="col-xs-12 first">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <h1 id="titulo-login" class="text-center"><strong>¡BIENVENIDO!</strong></h1>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="col-md-12">
                <br>
                <br>
                <div class="col-xs-6 recuadro recuadro-ingresar">
                    <br>
                    <button class="btn ingresar"><a href="{% url 'login' %}">Ingresar</a></button>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-xs-6 recuadro recuadro-registrar">
                    <br>
                    <button class="btn registrar"><a href="{% url 'registrar-comercio' %}">Registrar mi comercio</a></button>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

