{% extends "administrador/base_admin.html" %}
{% load static %}
{% load humanize %}
{% block title %}<title>Préstamos</title>{% endblock title %}
{% block extracss %}
<link href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style type="text/css">
    .box {
        border-top: 3px solid #F3F3F3 !important;
        border-left: 2px solid #F3F3F3 !important;
        border-right: 2px solid #F3F3F3 !important;
        border-bottom: 2px solid #F3F3F3 !important;
        min-width: 130px;
    }
    .box.box-danger {
    border-top-color: #82C539 !important;
    }
    @media screen and (max-width: 768px) {
        h4{
            font-size:16px;
        }
        h3{
            font-size: 18px;
        }
    }
    td{
        text-align: center;
    }
    a, a:hover, a:active, a:link{
        text-decoration: none;
        color: #FFFFFF;
    }
</style>
{% endblock extracss %}

{% block content %}
  <div>
  <h2>Buscar Préstamo</h2>
  <br>
  <br>
  <br>
  <div class="row">
  <div class="col-xs-12">
    <div class="input-group">
      <span class="input-group-btn">
      <form method="POST" action="{% url 'buscar_prestamo' %}" >
        <button class="btn btn-default" type="button">Buscar</button>
      </span>
      <form method="POST" action="{% url 'buscar_prestamo' %}" >
      <input name="nombre" type="text" class="form-control" placeholder="Buscar por nombre">
      </form>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <br>
  <br>
  <div class="col-xs-12">
    <div class="input-group">
      <span class="input-group-btn">
      <form method="POST" action="{% url 'buscar_prestamo' %}" >
        <button class="btn btn-default" type="button">Buscar</button>
      </span>
      <form method="POST" action="{% url 'buscar_prestamo' %}" >
      <input name="apellido" type="text" class="form-control" placeholder="Buscar por apellido">
      </form>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <br>
  <br>
  <div class="col-xs-12">
    <div class="input-group">
      <span class="input-group-btn">
      <form method="POST" action="{% url 'buscar_prestamo' %}" >
        <button class="btn btn-default" type="button">Buscar</button>
      </span>
      <form method="POST" action="{% url 'buscar_prestamo' %}" >
      <input name="carnet" type="text" class="form-control" placeholder="Buscar por cédula/carnet">
      </form>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <br>
  <br>
  <div class="col-xs-12">
    <div class="input-group">
      <span class="input-group-btn">
      <form method="POST" action="{% url 'buscar_prestamo' %}" >
        <button class="btn btn-default" type="button">Buscar</button>
      </span>
      <form method="POST" action="{% url 'buscar_prestamo' %}" >
      <input name="bicicleta" type="text" class="form-control" placeholder="Buscar por bicicleta">
      </form>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <br>
  <br>
  <div class="col-xs-12">
    <div class="input-group">
      <span class="input-group-btn">
      <form method="POST" action="{% url 'buscar_prestamo' %}">
        <button class="btn btn-default" type="button">Buscar</button>
      </span>
      <input name="fecha" type="text" class="form-control" placeholder="Buscar por fecha" id="datepicker">
      </form>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <br>
  <br>
</div><!-- /.row -->
<br>
<div class="row">
  <div class="col-xs-12 readonly">
    <input name="nombre_prestamo" type="text" class="form-control" value="" readonly>
    <input name="apellido_prestamo" type="text" class="form-control" value="" readonly>
    <input name="identificacion_prestamo" type="text" class="form-control" value="" readonly>
    <input name="telefono_prestamo" type="text" class="form-control" value="" readonly>
    <input name="horasalida_prestamo" type="text" class="form-control" value="" readonly>
    <input name="horaestimada_prestamo" type="text" class="form-control" value="" readonly>
    <input name="horallegada_prestamo" type="text" class="form-control" value="" readonly>
    <input name="bicicleta_prestamo" type="text" class="form-control" value="" readonly>
    <input name="tiempouso_prestamo" type="text" class="form-control" value="" readonly>
    <input name="pago_prestamo" type="text" class="form-control" value="" readonly>
    <input name="fecha_prestamo" type="text" class="form-control" value="" readonly>
  </div>
  <div class="col-xs-12 editable">

  </div>
</div>

{% endblock content %}
{% block custom_script %}
<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>

{% endblock custom_script %}
