{% extends "administrador/base_admin.html" %}
{% load static %}
{% load humanize %}
{% block title %}<title>Historial Bicicleta</title>{% endblock title %}
{% block extracss %}
<link href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}" rel="stylesheet">
<style type="text/css">
    .box {
        border-top: 3px solid #F3F3F3 !important;
        border-left: 2px solid #F3F3F3 !important;
        border-right: 2px solid #F3F3F3 !important;
        border-bottom: 2px solid #F3F3F3 !important;
    }
</style>
{% endblock extracss %}

{% block content %}

<div class="row">
    <div class="col-xs-12" style="padding-right: 2%;">
        <div class="box box-default color-palette-box">
            <div class="box-header">
                <h3 class="box-title">Historial Bicicleta: {{bicicleta.identificador}}</h3>
            </div>
            <div class="box-body" style="overflow-x:auto;">
              <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                <thead>
                    <tr>
                        <th>Reportado por</th>
                        <th>Fecha reporte</th>
                        <th>Reporte</th>
                        <th>¿Arreglado?</th>
                        <th>Fecha arreglo</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                {% for elem in historial %}
                    <tr role="row">
                      <td> {{ elem.reportado_por }}</td>
                      <td> {{ elem.fecha_reporte }}</td>
                      <td> {{ elem.reporte }}</td>
                      <td> {{ elem.arreglado }}</td>
                      <td> {{ elem.fecha_arreglo }}</td>
                      <td><a href="{% url 'editar_historial' elem.pk %}">Editar</a></td>

                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
              </table>
              <br>
              <br>
              <button class="btn btn-lg"><a href="{{request.META.HTTP_REFERER}}">Regresar</a></button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block custom_script %}
<script>
    $(document).ready(function(){
        $(function () {
            $("#example1").DataTable();
        });
    });
</script>

{% endblock custom_script %}

