{% extends "administrador/base_admin.html" %}
{% load static %}
{% load humanize %}
{% block title %}<title>Biciescuelas</title>{% endblock title %}
{% block extracss %}
<link href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}" rel="stylesheet">
<style type="text/css">
    .box {
        border-top: 3px solid #F3F3F3 !important;
        border-left: 2px solid #F3F3F3 !important;
        border-right: 2px solid #F3F3F3 !important;
        border-bottom: 2px solid #F3F3F3 !important;
    }
</style>
{% endblock extracss %}

{% block content %}

<div class="row">
    <div class="col-xs-12" style="padding-right: 2%;">
        <div class="box box-default color-palette-box">
            <div class="box-header">
                <h3 class="box-title">Biciescuelas</h3>
            </div>
            <div class="box-body" style="overflow-x:auto;">
              <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cédula/Carnet</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>¿Sabe manejar?</th>
                        <th>Aprobado</th>
                        <th>¿Pagó carnet?</th>
                        <th>Instructor</th>
                        <th>Fecha</th>
                        <th>Detalle</th>
                    </tr>
                </thead>
                <tbody>
                {% for biciescuela in biciescuelas %}
                    <tr role="row">
                      <td> {{ biciescuela.usuario.nombre }} {{ biciescuela.usuario.apellido }}</td>
                      <td> {{ biciescuela.usuario.identificacion }}</td>
                      <td> {{ biciescuela.usuario.telefono }}</td>
                      <td> {{ biciescuela.usuario.correo }}</td>
                      <td> {{ biciescuela.sabe_manejar }}</td>
                      <td> {{ biciescuela.aprobado }}</td>
                      <td> {{ biciescuela.pago_carnet }}</td>
                      <td> {{ biciescuela.instructor }}</td>
                      <td> {{ biciescuela.fecha|date:"M j o" }}</td>
                      <td><a href="{% url 'detalle_biciescuela' biciescuela.pk %}">Ver</a></td>

                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
              </table>
                <a href="{% url 'descargar-biciescuelas' %}" style="color: black; font-size: 18px;">Descargar data</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block custom_script %}
<script>
  $(document).ready(function(){
      $(function () {
          $("#example1").DataTable();
      });
  });
</script>
{% endblock custom_script %}

