{% extends "administrador/base_admin.html" %}
{% load static %}
{% load humanize %}
{% block title %}<title>Bicicletas</title>{% endblock title %}
{% block extracss %}
<link href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}" rel="stylesheet">
<style type="text/css">
    .box {
        border-top: 3px solid #F3F3F3 !important;
        border-left: 2px solid #F3F3F3 !important;
        border-right: 2px solid #F3F3F3 !important;
        border-bottom: 2px solid #F3F3F3 !important;
    }
</style>
{% endblock extracss %}

{% block content %}

<div class="row">
    <div class="col-xs-12" style="padding-right: 2%;">
        <div class="box box-default color-palette-box">
            <div class="box-header">
                <h3 class="box-title">Bicicletas</h3>
            </div>
            <div class="box-body" style="overflow-x:auto;">
              <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                <thead>
                    <tr>
                        <th>Identificador</th>
                        <th>Rin</th>
                        <th>Cambios</th>
                        <th>Modelo</th>
                        <th>Historial Mecánico</th>
                    </tr>
                </thead>
                <tbody>
                {% for bicicleta in bicicletas %}
                    <tr role="row">
                      <td> {{ bicicleta.identificador }}</td>
                      <td> {{ bicicleta.rin }}</td>
                      <td> {{ bicicleta.cambios }}</td>
                      <td> {{ bicicleta.modelo }}</td>
                      <td><a href="#">Ver</a></td>

                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block custom_script %}
<script>
    $(document).ready(function(){
        $(function () {
            $("#example1").DataTable();
        });
    });
</script>

{% endblock custom_script %}

