{% extends "administrador/base_admin.html" %}
{% load static %}
{% block title %}<title>Detalle del Comercio</title>{% endblock title %}

{# Load the tag library #}
{% load bootstrap3 %}
{% load humanize %}
{% load i18n %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block extracss %}
<link href="{% static 'plugins/iCheck/square/grey.css' %}" rel="stylesheet">
<style type="text/css">
  .calculate{
    margin-bottom: 2px;
    float: right !important;
  }
  .calculate,.selec-documentos {
    color: #FFFFFF;
    background-color: #727270;
    text-align: center;
    transition: all 0.8s ease;
    margin-bottom: 2px;
  }
    .calculate:hover, .selec-documentos:hover {
      background: #82C539;
      color: #FFFFFF;
    }
</style>
{% endblock extracss %}

{% block titulo %}
    <h1 class="col-md-2">
        COMERCIO
    </h1>
    <h5 class="col-md-6 pull-left">
      Última modificación: {{ cotizacion.modified_at|date:'D, d N Y' }}
    </h5>
{% endblock titulo %}

{% block content %}
<br>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                <!-- <div class="box-header">
                  <h3 class="box-title">Responsive Hover Table</h3>
                  <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                      <div class="input-group-btn">
                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div> --><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover" style="width:100%">
                      <tr>
                        <th>Datos del Comercio</th>
                        <th></th>
                        <th></th>
                        <th>Datos del Representante Legal</th>
                        <th></th>
                      <tr>
                        <td style="width: 30%;">Nombre Comercial</td>
                        <td>{{ cotizacion.nombre }}</td>
                        <td></td>
                        <td>Nombre</td>
                        <td>{{ cotizacion.nombre_rl}}</td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">RUC</td>
                        <td>{{ cotizacion.RUC }}</td>
                        <td></td>
                        <td>Apellido</td>
                        <td>{{ cotizacion.apellido_rl}}</td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Razón Social</td>
                        <td>{{ cotizacion.razon }}</td>
                        <td></td>
                        <td>Cédula</td>
                        <td>{{ cotizacion.cedula_rl}}</td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Teléfono Principal</td>
                        <td>{{ cotizacion.telefono1 }}</td>
                        <td></td>
                        <td>Teléfono de Contacto</td>
                        <td>{{ cotizacion.telefono_rl}}</td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Teléfono Opcional</td>
                        <td>{{ cotizacion.telefono2 }}</td>
                        <td></td>
                        <td>Correo Electrónico</td>
                        <td>{{ cotizacion.email_rl }}</td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Dirección</td>
                        <td>{{ cotizacion.direccion }}</td>
                        <td></td>
                        <td>Nombre Persona Contacto Adicional</td>
                        <td>{{cotizacion.nombre_extra}}</td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Geolocalización-Latitud</td>
                        <td>{{ cotizacion.latitud }}</td>
                        <td></td>
                        <td>Teléfono</td>
                        <td>{{cotizacion.telefono_extra}}</td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Geolocalización-Longitud</td>
                        <td>{{ cotizacion.longitud }}</td>
                        <td></td>
                        <td>Correo</td>
                        <td>{{cotizacion.correo_extra}}</td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Correo Electrónico</td>
                        <td>{{ cotizacion.email }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Programa de Beneficios del Banco o Entidad</td>
                        <td>{{ cotizacion.programa_beneficios }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Beneficios</td>
                        <td>{{ cotizacion.beneficios }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Restricciones de la campaña</td>
                        <td>{{ cotizacion.disclaimer }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Duración</td>
                        <td>{{ cotizacion.disc_long }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Fecha de expiración</td>
                        <td>{{ exp_date }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Días restantes de contrato</td>
                        <td>{{ cotizacion.deadline }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">¿Solicita POS?</td>
                        <td>{{ cotizacion.desea_pos }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <th>Resumen de status:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      <tr>
                      <tr>
                        <td>Recibido</td>
                        <td>{{cotizacion.fecha_recibido.date}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Preaprobado</td>
                        <td>{{cotizacion.fecha_preaprobado.date}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Rechazado</td>
                        <td>{{cotizacion.fecha_rechazado.date}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>En visita</td>
                        <td>{{cotizacion.fecha_visita.date}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        {% if cotizacion.status == 'Documentos por enviar' %}
                        <td>Documentos por enviar &nbsp;&nbsp;&nbsp;<span><button id="id_submit" type="submit" class="btn btn-xs selec-documentos">
                          <a href="{% url 'documentos' cotizacion.pk %}" style="color:white;">Adjuntar</a>
                      </button></span></td>
                      {% else %}
                        <td>Documentos por enviar &nbsp;&nbsp;&nbsp;<span><button id="id_submit" type="submit" class="btn btn-xs selec-documentos" disabled>
                          <a href="{% url 'documentos' cotizacion.pk %}" style="color:white; pointer-events: none;">Adjuntar</a>
                      </button></span></td>
                      {% endif %}
                        <td>{{cotizacion.fecha_docs.date}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Aprobado</td>
                        <td>{{cotizacion.fecha_aprobado.date}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      
                    </table>
                    
                    <br>
                    <img src='{{cotizacion.img_front.url}}'>
                    <img src='{{cotizacion.img_inside.url}}'>
                    </div><!-- /.box-body -->
                    </div><!-- /.box -->

                    <div class="col-xs-12">
                      <button id="id_submit" type="submit" class="btn btn-lg calculate editar-comercio">
                          <a href="{% url 'editar-comercio' cotizacion.pk %}" style="color:white;">Editar</a>
                      </button>
                      <br>
                      <br>
                  </div>

            </div>
        </div>
        <!--
        <div class="row">

        </div>
        -->


{% endblock content %}

{% block custom_script %}
<script type="text/javascript">
$( document ).ready(function() {
    
});
</script>
{% endblock custom_script %}
