{% extends "administrador/base_admin.html" %}
{% load static %}
{% block title %}<title>Datos del Solicitante</title>{% endblock title %}

{# Load the tag library #}
{% load bootstrap3 %}
{% load humanize %}
{% load i18n %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block extracss %}
<link href="{% static 'plugins/iCheck/square/grey.css' %}" rel="stylesheet">
<style type="text/css">
  .calculate{
    margin-bottom: 2px;
    float: right !important;
  }
  .calculate,.selec-documentos {
    color: #FFFFFF;
    background-color: #727270;
    text-align: center;
    transition: all 0.8s ease;
    margin-bottom: 2px;
  }
    .calculate:hover, .selec-documentos:hover {
      background: #82C539;
      color: #FFFFFF;
    }
    a, a:hover, a:active, a:link{
      text-decoration: none;
      color: #000000;
  }
</style>
{% endblock extracss %}

{% block titulo %}
    <h1 class="col-md-5">
        Datos del Solicitante
    </h1>
{% endblock titulo %}

{% block content %}
<br>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                <!-- <div class="box-header">
                  <h3 class="box-title">Responsive Hover Table</h3>
                  <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                      <div class="input-group-btn">
                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div> --><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover" style="width:100%">
                      <tr>
                        <th>Datos Personales</th>
                        <th></th>
                        <th></th>
                        <th>Datos Laborales</th>
                        <th></th>
                      <tr>
                        <td style="width: 30%;">Nombre</td>
                        <td>{{ solicitante.user.first_name }}</td>
                        <td></td>
                        <td>Lugar de Trabajo</td>
                        <td>{{ solicitante.lugar_trabajo }}</td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Apellido</td>
                        <td>{{ solicitante.user.last_name }}</td>
                        <td></td>
                        <td>Ocupación</td>
                        <td>{{ solicitante.ocupacion }}</td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Cédula o Pasaporte</td>
                        <td>{{ solicitante.identificador }}</td>
                        <td></td>
                        <td>Dirección</td>
                        <td>{{ solicitante.direccion }}</td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Teléfono</td>
                        <td>{{ solicitante.telefono }}</td>
                        <td></td>
                        <td>Cargo</td>
                        <td>{{ solicitante.cargo }}</td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Correo Electrónico</td>
                        <td>{{ solicitante.user.email }}</td>
                        <td></td>
                        <td>Salario</td>
                        <td>{{ solicitante.salario }}</td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Ingreso Familiar Mensual</td>
                        <td>{{ solicitante.ingreso }}</td>
                        <td></td>
                        <td>Fecha de Ingreso</td>
                        <td>{{ solicitante.fecha_ingreso }}</td>
                      </tr>
                    </table>
                    <br>

                    <div class="row">
                      <div class="col-xs-12" style="padding-right: 2%;">
                        <div class="box box-default color-palette-box">
                          <div class="box-header">
                            <h3 class="box-title">Status de Crédito: {{solicitante.user.first_name}} {{solicitante.user.last_name}}</h3>
                          </div>
                          <div class="box-body" style="overflow-x:auto;">
                            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                              <thead>
                                <tr>
                                  <th>Monto del crédito</th>
                                  <th>Fecha de Solicitud</th>
                                  <th>Días Solicitados</th>
                                  <th>Fecha de Pago</th>
                                  <th>Status</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr role="row">
                                  <td> {{ credito.monto }}</td>
                                  <td> {{ credito.fecha_solicitud }}</td>
                                  <td> {{ credito.dias }} </td>
                                  <td> {{ credito.fecha_tope }} </td>
                                  <td> {{ credito.status }} </td>
                                </tr>
                              </tbody>
                              <tfoot>
                              </tfoot>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>

                    </div><!-- /.box-body -->
                    </div><!-- /.box -->
                    <button class="btn" style="float: right;"> <a href="{{request.META.HTTP_REFERER}}">Atrás</a></button>

            </div>
        </div>
        <!--
        <div class="row">

        </div>
        -->


{% endblock content %}

{% block custom_script %}

{% endblock custom_script %}
