{% extends "administrador/base_admin.html" %}
{% load static %}
{% block title %}<title>Detalle Préstamo</title>{% endblock title %}

{# Load the tag library #}
{% load bootstrap3 %}
{% load humanize %}
{% load i18n %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block extracss %}
<link href="{% static 'plugins/iCheck/square/grey.css' %}" rel="stylesheet">
<style type="text/css">
  .calculate{
    margin-bottom: 2px;
    float: right !important;
  }
  .calculate,.selec-documentos {
    color: #FFFFFF;
    background-color: #727270;
    text-align: center;
    transition: all 0.8s ease;
    margin-bottom: 2px;
  }
    .calculate:hover, .selec-documentos:hover {
      background: #5F2871;
      color: #FFFFFF;
    }
</style>
{% endblock extracss %}

{% block titulo %}
    <h1 class="col-md-5">
        Detalle Préstamo
    </h1>
{% endblock titulo %}

{% block content %}
<br>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                <!-- <div class="box-header">
                  <h3 class="box-title">Responsive Hover Table</h3>
                  <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                      <div class="input-group-btn">
                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div> --><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover" style="width:100%">
                      <tr>
                        <th>Datos del Solicitante</th>
                        <th></th>
                        <th></th>
                        <th>Datos del Préstamo</th>
                        <th></th>
                      <tr>
                        <td style="width: 30%;">Nombre</td>
                        <td>{{ prestamo.nombre }}</td>
                        <td></td>
                        <td>Hora de salida</td>
                        <td>{{ prestamo.hora_salida }}</td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Apellido</td>
                        <td>{{ prestamo.apellido }}</td>
                        <td></td>
                        <td>Hora Estimada de llegada</td>
                        <td>{{ prestamo.hora_estimada }}</td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Cédula/Carnet</td>
                        <td>{{ prestamo.identificacion }}</td>
                        <td></td>
                        <td>Hora de llegada</td>
                        <td>{{ prestamo.hora_llegada }}</td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">Teléfono</td>
                        <td>{{ prestamo.telefono }}</td>
                        <td></td>
                        <td>Tiempo de uso</td>
                        <td>{{ prestamo.tiempo_uso }}</td>
                      </tr>
                      <tr>
                        <td style="width: 30%;">¿Sabe manejar?</td>
                        <td>{{ prestamo.sabe_manejar }}</td>
                        <td></td>
                        <td>¿Pagó?</td>
                        <td>{{ prestamo.pagado }}</td>
                      </tr>
                      <tr>
                        <td style="width: 30%;"></td>
                        <td></td>
                        <td></td>
                        <td>Fecha de la solicitud</td>
                        <td>{{ prestamo.fecha }}</td>
                      </tr>
                    </table>
                    <br>

                    </div><!-- /.box-body -->
                    </div><!-- /.box -->

                    <div class="col-xs-12">
                      <button id="id_submit" type="submit" class="btn btn-lg calculate editar-comercio">
                          <a href="{{request.META.HTTP_REFERER}}" style="color:white;">Atrás</a>
                      </button>
                      <br>
                      <br>
                  </div>

            </div>
        </div>
        <!--
        <div class="row">

        </div>
        -->


{% endblock content %}

{% block custom_script %}
<script type="text/javascript">
$( document ).ready(function() {
    
});
</script>
{% endblock custom_script %}
