{% extends "administrador/base_admin.html" %}
{% load static %}
{% load humanize %}
{% block title %}<title>Solicitudes por atender</title>{% endblock title %}
{% block extracss %}
<link href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}" rel="stylesheet">
<style type="text/css">
	.box {
        border-top: 3px solid #F3F3F3 !important;
        border-left: 2px solid #F3F3F3 !important;
        border-right: 2px solid #F3F3F3 !important;
        border-bottom: 2px solid #F3F3F3 !important;
    }
    ::-webkit-input-placeholder { 
    	font-size: 12px !important;
    	text-align: center; 
	}
	::-moz-placeholder { 
		font-size: 12px !important;
		text-align: center; 
	} /* firefox 19+ */
	:-ms-input-placeholder { 
		font-size: 12px !important;
		text-align: center; 
	} /* ie */
	input:-moz-placeholder { 
		font-size: 12px !important;
		text-align: center; 
	}
</style>
{% endblock extracss %}

{% block content %}

<div class="row">
	<div class="col-xs-12" style="padding-right: 2%;">
		<div class="box box-default color-palette-box">
			<div class="box-header">
				<h3 class="box-title">Solicitudes por atender</h3>
			</div>
			<div class="box-body" style="overflow-x:auto;">
	      	

			  <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
			    <thead>
				    <tr>
				    	<th>Monto del crédito</th>
				    	<th>Fecha de Solicitud</th>
			            <th>Días Solicitados</th>
			            <th>Fecha de Pago</th>
			            <th>Status</th>
				    </tr>
			    </thead>
			    <tbody>
			    {% for credito in solicitudes %}
			    
			    	<tr role="row">
				      <td> {{ credito.monto }}</td>
				      <td> {{ credito.fecha_solicitud }}</td>
				      <td> {{ credito.dias }}</td>
				      <td> {{ credito.fecha_tope }}</td>
				      <td> {{ credito.status }}</td>
			            
				      <td><a href="{% url 'credito_details' credito.pk %}">Ver</a></td>
				      
				      <td>
				      	<form name ="{{ credito.pk }}" id="id_{{ credito.pk }}" action="{% url 'cambiar-status-credito' credito.pk %}" method="POST">
				      	{% csrf_token %}
						<div class="btn-group">
							{% if credito.status == '' %}
		                  	  	<button type="button" class="btn btn-default">Status</button>
		                  	{% else %}
		                  		<button type="button" class="btn btn-default">{{credito.status}}</button>
		                  	{% endif %}
		                  	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			                    <span class="caret"></span>
			                    <span class="sr-only">Toggle Dropdown</span>
			                  </button>
		                  <ul class="dropdown-menu" role="menu">
		                  	{% if credito.status == 'Rechazado' %}
		                  	<li><a><i class="fa fa-times-circle" style="color: red;">  No hay acción disponible</i></a></li>
		                  	{% elif credito.status == '' %}
		                    <li><a name = "0" href="#" onclick="$(this).closest('form').submit()"><i class="fa fa-check-circle" style="color: gray;">  Recibido</i></a></li>
		                    {% elif credito.status == 'Recibido' %}
		                    <li><a name = "1" href="#" onclick="$(this).closest('form').submit()"><i class="fa fa-check-circle" style="color: gray;">  Pendiente</i></a></li>
		                    {% elif credito.status == 'Pendiente' %}
		                    <li><a name = "2" href="#"><i class="fa fa-check-circle" style="color: gray;">  Aprobado</i></a></li>
		                    <li><a name = "3" href="#" onclick="$(this).closest('form').submit()"><i class="fa fa-check-circle" style="color: gray;">  Rechazado</i></a></li>
		                    {% elif credito.status == 'Aprobado' %}
		                    <li><a><i class="fa fa-check-circle" style="color: green;">  Proceso finalizado</i></a></li>
		                    {% endif %}
		                  </ul>
		                </div>
		                <br>
		                <br>
			                <input placeholder="Agregue un comentario" id="comment_{{ credito.pk }}" name="comment_{{ credito.pk }}" type="text">
            			</form>
				      </td>
				      
				    </tr>

			    {% endfor %}
			    </tbody>
			    <tfoot>
			    </tfoot>
			  </table>
			</div>

		</div>
	</div>
</div>
{% endblock content %}

{% block custom_script %}
<script type="text/javascript">
	$(document).ready(function(){
		$(function () {
	    	$("#example1").DataTable();
	    });
	    $('a').on('click',function(){
	    	name = $(this).parent().parent().parent().parent().attr('name');
	    	option = $(this).attr('name');
	    	var input = $("<input>")
               .attr("type", "hidden")
               .attr("name", "option").val(option);
		$('#id_'+name).append($(input));
		$(this).closest('form').submit()
	    });
	});
</script>

{% endblock custom_script %}

