{% extends "administrador/base_admin.html" %}
{% load static %}
{% load humanize %}
{% block title %}<title>Solicitantes</title>{% endblock title %}
{% block extracss %}
<link href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}" rel="stylesheet">
<style type="text/css">
	.box {
        border-top: 3px solid #F3F3F3 !important;
        border-left: 2px solid #F3F3F3 !important;
        border-right: 2px solid #F3F3F3 !important;
        border-bottom: 2px solid #F3F3F3 !important;
    }
</style>
{% endblock extracss %}

{% block content %}

<div class="row">
	<div class="col-xs-12" style="padding-right: 2%;">
		<div class="box box-default color-palette-box">
			<div class="box-header">
				<h3 class="box-title">Solicitantes</h3>
			</div>
			<div class="box-body" style="overflow-x:auto;">
			  <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
			    <thead>
				    <tr>
				    	<th>Nombre</th>
				    	<th>Apellido</th>
			            <th>Cédula o Pasaporte</th>
			            <th>Correo Electrónico
			            <th>Teléfono</th>
			            <th>Num. Solicitudes Realizadas</th>
				    </tr>
			    </thead>
			    <tbody>
			    {% for solicitante in solicitudes %}
			    	<tr role="row">
				      <td> {{ solicitante.user.first_name }}</td>
				      <td> {{ solicitante.user.last_name}}</td>
				      <td> {{ solicitante.identificador }}</td>
				      <td> {{ solicitante.user.email }}</td>
				      <td> {{ solicitante.telefono }}</td>
				      {% for elem in lista_creditos %}
				      	{% if elem.0 == solicitante.pk %}
				      		<td> {{ elem.1 }}</td>
				      	{% endif %}
			           {% endfor %}
				      <td><a href="{% url 'cotizaciones_details' solicitante.pk %}">Ver</a></td>
				      
				    </tr>
			    {% endfor %}
			    </tbody>
			    <tfoot>
			    </tfoot>
			  </table>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block custom_script %}
<script>
	$(document).ready(function(){
		$(function () {
	    	$("#example1").DataTable();
	    });
	});
</script>

{% endblock custom_script %}

